.map-container{
    padding: 1em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;  
}

.find_us{
    margin-top: 1em;
}

@media screen and (max-width:580px) {
    .map-check{
        width: 90%;
    }
}

@media screen and (max-width:645px) {
    .map-container{
        display: flex;
        flex-direction: column !important;
    }
}

@media screen and (min-width:580px) and (max-width:990px) {
    .map-check{
        width: 90%;
    }
}