
.customertext2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 600;
    padding-left: 2em;
    text-align: center;
}
.customer2{
    margin-bottom: 100px ;

}

.member2{
    padding-top: 50px;
}

  .pricing-plans {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    gap: 0.5em;
    margin-left: 11em;
    margin-right: 11em;
  }
  
  .plan {
    width: 200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
  
  }
  
  .plan:hover {
    transform: scale(1.05); 
  }
  
  .recommended {
    border: 2px solid #ffaa00; /* Add a thicker border for the recommended box */
  }
  
  // .recommended:hover {
  //   transform: scale(1.1); 
  // }
  
  .plan h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .plan p {
    color: #555;
    margin-bottom: 15px;
  }
  
  .plan a {
    display: block;
    padding: 10px;
    background-color: #1E3D3C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .plan a:hover {
    background-color: #2e5453;
  }

  
.ribbon {
    position: sticky;
    // top: 10px;
    right: 32.5em; 
    background-color: #ffaa00;
    color: #fff;
    padding: 2px;
    margin: 2px;
    transform: rotate(0deg);
    font-size: 0.8em;
  }
  
  @media screen and (max-width:430px) {
    .pricing-plans{
      display: flex;
      flex-direction: column;
      margin-left: 2em; 
      margin-right: 2em;
      align-items: center;
    }

    .customertext2{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 600;
      padding-left: 0.5em;
      text-align: center;
  }
  }

  @media screen and  (min-width:430px) and (max-width:644px) {
    .pricing-plans {
        // flex-direction: column; 
        // align-items: left; 
        // margin-left: 2em; 
        // margin-right: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .customertext2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 600;
        text-align: left;
        text-align: center;
    }
    
  }


  @media screen and (min-width: 645px) and (max-width: 990px){
    .member2{
      padding-right: 2em;
    }
    .customertext2{
      padding-right: 1em;
    }
    .pricing-plans{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .customertext2{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 600;
      text-align: left;
      padding-left: 1em;

  }
  }