.app-container {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5em;
    margin: 20px;
    flex-flow: wrap;

   
  }

  @media only screen and (max-width:580px) {
 .app-container{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  align-items:center ;
 }
.classesType-text{
  padding-top: 1.5em;
}
 }
  
.classesType-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
  @media only screen and (max-width:580) {
   padding-top: 20em;




   @media only screen and (max-width:580px) {
    .customerdemo1{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

  
}

 }
}

  .classesType-container {
    max-width: 350px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .classesTypetopic{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
     font-size: 25px;
  }
  
  .classesTypepara{
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
  }
 
  
  .classesType-image {
    // width: 100%;
     height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  
.classesType-image:hover {
  transform: scale(1.1); 
}


@media screen and (min-width: 581px) and (max-width: 990px){

 .app-container{
  display: flex;
  flex-direction: column;
  flex-flow: wrap;  
  padding-left: 3em;
  padding-right: 3em;
  gap: 2em;
 }

}