// .headermain .active{
//     background-color:white;
// }

// .headermain{
    
   
//      background-color: lightpink;
//     height: 100px;
//     border: 1px solid dfdfdf;
//     z-index: 99;
//     position: sticky;
//     top: 0;
    
// }


// .headerComp{
    
//     width: 80%;
//     height: 100%;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     font-family: 'Poppins',sans-serif;
   
// }


// .check{
//     cursor: pointer;
//     text-decoration: none;
//     color: black;
// }

// .check:hover{
//     background-color: aqua;
// }


// .menu{
//     display: none;
//     position: absolute;
//     top: 0.75rem;
//     right: 0.5rem;
//     flex-direction: column;
//     justify-content: space-between;
//     width: 2.25rem;
//     height: 2rem;
//     z-index: 6;
// }

// .menu span{
//     height: 0.4rem;
//     width: 100%;
//     background-color: black;
//     border-radius: 0.2rem;
// }

// .headerlogo{
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     height: 30px;
//     width: 30px;
//     padding:  2px 20px;
//     cursor: pointer;
// }

// .headerstruct{
//      margin-left : 300px  ;
//      display: flex ;
//      flex-direction: row;
//      font-size: 18px;
//      overflow: hidden;
//      gap : 36px ;
//      font-weight: bold;
  
//      color: black;
  
//  }


//  .head_trigger{
//     display: none;
//  }

//  @media only screen and (max-width: 580px){
//     .headerstruct{
//      margin-left : 4.5em  ;
//      display: flex ;
//      flex-direction: row;
//      font-size: 13px;
//      overflow: hidden;
//      gap : 17px ;
//      font-weight: 600;
//      letter-spacing: 0.01em;
   
//      color: black;
//     }
//     .menu{
//         display: flex;
//        }
    
//        .headerstruct{
//         flex-direction: column;
//         align-items: start;
//        }
//        .check{
//         flex-direction: column;
//         width: 100%;
//         margin-bottom: 0.25rem; 
//        }
   
//  }

//  @media screen and (min-width: 581px) and (max-width: 990px){

//     .headerstruct{
//         margin-left: 223px;
//     }
// }



.headerstruct .active{
    background-color: rgb(255 121 142);
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightpink;
    //brown
    // background-color: #BF938b;
    // background-color: #A0554D; 
    
    //  background-color: #7F8A65;  
    //  background-color: #A7AE9E;

    // background-color: #6EC6CA;
    // background-color: #d7d7ff;
    color: black;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav .title {
    font-size: 1.5rem;
    // margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding-left: 2em;
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: black;
    padding: 1.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}
.headerstruct{
    // margin-right: 9em;
}

nav ul li a:not(.active):hover {
    background-color:rgb(255,139,157) ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media (max-width: 644px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        font-size: 17px;
        margin: 0.2rem 0.5em;
    }
}


@media screen and (min-width:645px) and (max-width:1400px) {
    nav ul li a {
        font-size: 17.5px;
        font-weight: bold;
        display: block;
        text-decoration: none;
        color: black;
        padding: 0.5rem;
        margin: 0 0.5rem;
        border-radius: 0.5rem;
    }
}