.custom2-bg-pink{
    background-color: rgb(243, 243, 243);
}
.custom3-bg-pink{
    background-color: rgb(255, 191, 201);
}

@media screen and (max-width:580px) {
    .test-rev{
        font-size: 12px;
    }
}

@media screen and (min-width:580px) and (max-width:990px){
    .test-rev{
        font-size: 9.7px;
    }
}

@media screen and (min-width:990px) and (max-width:1300px){
    .test-rev{
        font-size: 10.8px;
    }
}

@media screen and (min-width:1300px) {
    .test-rev{
        font-size: 16.1px;
    }
}